*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

main, aside{
    text-align: center;
    padding: 2rem;
    margin: auto;
    height: 80%;
    background-color: rgba(245, 245, 220, 0.9);
    border-radius: 1.3rem;
}

h1{
    padding-bottom: 1rem;
}

h2{
    padding: 1rem 0 0.5rem;
}

label{
    padding-bottom: 0.3rem;
}

input{
    border: 3px solid white;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

button{
    border: 3px solid orangered;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: orange;
    font-size: 1.5rem;
    color: blueviolet;
    cursor: pointer;
    transition: all 0.33s ease;
}

button.active{
    background-color: rgb(141, 255, 141);
    border-color: green;
    color: orangered;
}

button.disabled{
    background-color: rgb(207, 207, 207);
    border-color: rgb(185, 185, 185);
    color: gray;
}

button:not(:disabled):hover,
.game_box:hover{
    transform: scale(1.1);
}

button:active,
.game_box:active{
    transform: scale(0.9);
}

.ivy_game_command{
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.winner{
    margin-top: 1rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
}

.loser{
    margin-top: 1rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: lightcoral;
    color: red;
    border: 1px solid red;
}

.game_box{
    aspect-ratio: 1 / 1;
    height: 200px;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.33s ease;
}

.game_box p{
    background-color: rgba(0, 0, 0, 0.5);
}

#palindrome_btn{
    background-image: url(../assets/sombrero.png);
    border: 4px solid rgb(248, 0, 0);
    background-color: rgb(243, 210, 26);

}

#evenodd_btn{
    background-image: url(../assets/pari.png);
    border: 4px solid rgb(81, 142, 255);
    background-color: rgb(112, 255, 124);
}

a{
    text-decoration: none;
    color: white;
}

.right{
    border: 3px solid green;
}

.wrong{
    border: 3px solid red;
}

h3{
    padding: 2rem 0;
}

p.description{
    line-height: 2rem;
}

#score{
    color: brown;
    margin: 3rem auto;
    font-size: 2rem;
    background-color: rgb(195, 195, 247);
    display: inline-block;
    padding: 2rem;
    border-radius: 1rem;
}

ul{
    list-style: none;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
}